.text {
    color: rgb(196, 195, 195);
    font-family: "Montserrat", sans-serif;
}

.text-header {
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

/*------- General ------*/
body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg2.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #54B4D3;
}

/* # Header */
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
/* #header * {
  transition: ease-in-out 0.3s;
} */

/* transparent box for home social media */
.social-media-links a {
    background: rgba(255, 255, 255, 0.1);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-links a:hover {
    color: #ffffff;
    background: #214855;
}
/* 2 diffrent size breakpoints  */
@media (max-width: 992px) {
    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    #header h4 {
        margin: 20px;
        font-size: 18px;
    }
}

/* Header Top */
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-media-links,
#header.header-top h4 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}
/* 2 diffrent size breakpoints for navbar */
@media (max-width: 991px) {
    #header.header-top .container {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    #header.header-top {
        height: 130px;
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
    }    
    #header.header-top h1 {
        height: 10px;
        font-size: 36px;
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 768px) {
    #header.header-top {
        height: 110px;
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
    }    
}

/* Desktop Navigation  */
.navbar li {
    position: relative;
}
.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    background-color: #54B4D3;
    transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

/* Sections General */
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

@media (max-width: 768px) {
    section.section-show {
        top: 80px;
    }
}


/* Count meter  */

/* transparent countdown box  */
.trans-box-count {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
}

.trans-box-count span {
    font-size: 36px;
    display: block;
    font-weight: bolder;
    color: #fff;
}
/* transparent box  */
.trans-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
}
@media (max-width: 576px) {
    .interests h6{
        text-align: center;
    } 
}
/* hides the scrollbar for esthatics :) O 3 O */
::-webkit-scrollbar {
    display: none;
}

/*                     _             __           
                     /_|      _ /  (  _ / /_   ' 
                    (  |(/(/_) /) __)(//(((//)/  
                        /                                   */