.description{
    padding-bottom: 8px;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
}
.technology-element{
    margin-right: 5px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
}

.resume-heading{
    color: #08a7c7 !important;
}
a{
    color:inherit !important;
    text-decoration: none;
}
a:hover{
    color: var(--text-color-2) !important;
    text-decoration: none;
}